* {
    text-align: center;
    color: white;

}

.container {
    display: flex;
    flex-direction: column;
    width: 70vh;
    margin-left: 35%;
    background-color: rgb(70, 3, 10)
}

#heading {
    white-space: nowrap;
    padding-top: 10px;
}

#initialprice,
#quanityid,
#currentprice {
    padding: 7px;
    margin: 7px;
    color: black;
}

#profitlossbtn {
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(109, 107, 4);
}